<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.avia.application">

    <application
        android:allowBackup="true">
        <activity
            android:name="com.avia.application.BrowserActivity"
            android:configChanges="orientation|screenSize"
            >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>
